@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
    --overlay-color: rgba(24, 39, 51 , 0.85);
}

$w: Min(10em, 100%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@media (width < 576px) {
  nav.desktop {
    display: none;
  }
  nav.hamburger {
    z-index: 1;
    animation: fadeIn 1s;
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: 1px 1px 5px 0px var(--gray);
    background-color: var(--white);
    z-index: 1;
  }
  .img-hamburger {
    top: 45%;
    right: 20%;
  }
  .img-close{
    z-index: 1;
  }
  .track-wrapper {
    flex-direction: column;
    width: 90%;
  }

  .img-thumbnail {
    height: 200px;
    width: 100%;
    border-radius: 5px;
  }

  .trek-article figure {
    flex-direction: column;
  }

  .article-text {
    width: 100%;
    /* padding: 0 0 0 2%; */
  }

  .trek {
    width: 100%;
  }
  .ordinary-article {
    flex-direction: column;
  }
  .ordinary-article article {
    width: 100%;
    padding: 0;
  }
  .stories {
    width: 100%;
  }
  .stories-content {
    margin: 2em;
  }
  .gallery-content {
    flex-direction: column;
  }
  .gallery-content .gallery-intro {
    text-align: center;
    width: 90%;
  }
  .gallery-placement {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .gallery-placement figure img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
  }
  .font-marginL, .font-marginC {
    text-align: center;
  }
  .contact-wrapper {
    width: 38%;
  }

}

 @media (min-width: 576px) and (max-width: 768px)  {
  nav.desktop {
    display: none;
  }
  nav.hamburger {
    z-index: 1;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: 1px 1px 5px 0px var(--gray);
    background-color: var(--white);
    z-index: 1;
  }
  .img-hamburger {
    top: 45%;
    right: 20%;
  }
  .trek {
    width: 88%;
  }
  .article-text {
    max-width: 40%;
    padding: 0 0 0 2%;
  }
  .ordinary-article article {
    width: 100%;
    padding:0;
  }
  .stories {
    width: 88%;
  }
  .stories-content {
    margin: 0;
  }
  .gallery-placement {
    display: flex;
    flex-direction: column;
  }
  .gallery-placement figure img {
    width: 100%;
    height: 400px;
    border-radius: 5px;
  }
  .gallery-content {
    flex-direction: column;
  }
  .gallery-content .gallery-intro {
    text-align: center;
  }
  .gallery-wrapper {
    width: 89%;
  }
  
  .img-thumbnail {
    height: 300px;
    width: 100%;
    border-radius: 5px;
  }
  .track-wrapper {
    flex-direction: column;
  }
  .ordinary-article {
    flex-direction: column;
  }
  
  .font-marginL, .font-marginC {
    margin-left: 1.5em;
  }
  .contact-wrapper {
    width: 68%;
  }

}


@media (min-width: 992px) and (max-width: 1200px)  {
  nav.mobile {
    display: none;
  }
  
  nav.desktop {
    position: absolute;
    top: 35%;
    right: 30%;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: 1px 1px 5px 0px var(--gray);
    background-color: var(--white);
    z-index: 1;
  }

  nav.desktop ul li {
    padding: 25%;
  }
  nav.desktop ul {
    padding: 0%;
  }
  
  .img-thumbnail {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .trek {
    width: 100%;
  }
  .article-text {
    max-width: 40%;
    padding: 0 5% 0 2%;
  }
  .ordinary-article article {
    width: 40%;
    padding: 2% 5% 0 0;
  }

  .ordinary-article article figure {
    margin: 0;
  }
  .font-marginL{
    margin-left: 0;
  }
  .font-marginC {
    margin-left: 1.5em;
  }

  article.trek-article figure {
    display: flex;
    margin: 0;
  }
  .stories {
    width: 100%;
  }
  .stories article {
    width: 88%;
  }
  .trek-ordinary, .trek-highlight {
    padding-left: 5%;
    padding-right: 12%;
  }
  .gallery-content {
    flex-direction: column;
    padding-left: 5%;
    padding-right: 15%;
  }
  .gallery-content .gallery-intro {
    text-align: center;
  }
  .gallery-placement {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 200px 200px;
  }
  .gallery-placement figure img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .item-grid {
    margin: 2%;
  }
  .track-wrapper {
    flex-direction: column;
  }
}

@media (min-width: 1201px){
   nav.mobile {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: 1px 1px 5px 0px var(--gray);
    width: 100%;
    background-color: var(--white);
    z-index: 1;
  }

  nav.desktop ul li {
    padding: 5%;
  }
  .img-thumbnail {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .trek {
    width: 70%;
  }
  .article-text {
    max-width: 40%;
    padding: 0 0 0 2%;
  }
  .ordinary-article article {
    width: 40%;
    padding: 2% 5% 0 0;
  }
  .stories {
    width: 20%;
  }
  .gallery-content {
    flex-direction: column;
  }
  .gallery-content .gallery-intro {
    text-align: center;
  }
  .gallery-placement {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 300px 300px;
  }
  .gallery-placement figure img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .gallery-content {
    display: flex;
    justify-content: end;
  }
  .font-marginL, .font-marginC {
    margin-left: 1.5em;
  }
  .item-grid {
    margin: 2%;
  }

}

article.story-wrapper, .track-wrapper {
  display: flex;
  justify-content: center;
}
.section-title {
  text-align: center;
  margin: 2%;
}

.img-thumbnail-half {
  height: 300px;
  width: 50%;
  border-radius: 5px;
}

.story-content{
  padding: 0 5% 0 5%;
}

.subtitle {
  margin: 5px 0 5px 0;
}

.story-description {
  text-align: justify;
}

article.trek-article figure {
  display: flex;
}


.ordinary-article {
  display: flex;
}

section {
  padding: 3% 0 3% 0;
}
/* .font-marginL {
  margin-left: 1.5em;
} */


#grid-1 {
  grid-column: 1;
  grid-row: 1 / span 2;
} 

#grid-4 {
  grid-column: 4;
  grid-row: 1 / span 2;
} 

#grid-5 {
  grid-column-start: 2;
  grid-column-end: 4;
} 

section.contact {
  background-color: var(--gray);
}

 .form-hiker h2, .form-hiker p, .form-hiker legend, .form-hiker label, section.contact h2 {
  color: var(--white);
}

.item-grid:hover img {
  transform: scale(1.25);
}

